{% extends 'theme.html' %}
{% block content %}
<div class='container'>
    <div class='row'>
        <div class="card" style="width: 18rem;">
            <img src="{{product.image.url}}" class="card-img-top" alt="app大图">
        </div>
        <div class="col-md-8" style="padding-left:30px">
            <h3>
                <a href="products/{{product.id}}">
                    {{product.title}}
                </a>
            </h3>
            <br>
            APP链接：{{product.url}}
            <br>
            简介：{{product.intro}}
            <br>
            <div class="card" style="width: 10rem;">
                <img src="{{product.icon.url}}" class="card-img-top" alt="app图标">
            </div>
            <br>
            发布日期：{{product.pub_date}}
            <br>
            投票数：{{product.vote}}
            <br>
        </div>
    </div>
</div>
{% endblock content %}